@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body{
    color: white;
    background-color: rgba(17, 17, 17, 1);
}
.desktop-view{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 2.3rem;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: bold;
}
.nav-icon{
    display: none;
}
.anchor-list{
    display: flex;
}
.home-nav{
    background-color: rgba(230, 83, 60, 1);
    padding: 3px 8px;
    border-radius: 35px;
    font-weight: 500;
}
.anchor-list > li{
    list-style: none;
    margin-right: 40px;
}
.anchor-list > li > a{
    text-decoration: none;
    color: white;
}

/* get body section styles */
.get-body{
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.get-body-title{
    font-size: 4.5rem;
}
#shape-font{
    font-family: 'Miama', sans-serif;
}
.primary-text{
    color: rgba(255, 255, 255, 0.5);
}
.primary-btn{
    padding: 16px 45px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border-radius: 40px;
    font-weight: 600;
}
.primary-btn-black{
    background-color: black;
    border: 1px solid white;
}
.get-body-img{
    display: flex;
    justify-content: right;
    width: 100%;
}
.big-btn-1{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
    border: 0px;
    border-radius: 12px;
    text-align: left;
    position: relative;
    bottom: 400px;
    left: 200px;
}
#big-btn-1-digit{
    font-size: 2.4rem;
    color: white;
}
.big-btn-2{
    display: flex;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
    border: 0px;
    border-radius: 12px;
    text-align: start;
    position: relative;
    bottom: 230px;
}
.btn-circle{
    width: 40px;
    height: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    margin-right: 12px;
}
#big-btn-2-digit{
    font-size: 1.46rem;
    color: white;
}
.text-center{
    text-align: center;
}

.habits{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 60px;
}
.title{
    font-size: 3rem;
    margin: 0px;
}
.habit img{
    border-radius: 50%;
}
.habit-movement{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px;
}
.run-container{
    margin-top: 100px;
}
.run-part{
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    padding: 32px;
    background-color: rgba(34, 34, 34, 1);
}
.run-description{
    width: 50%;
}
.run-img img{
    width: 380px;
    border-radius: 18px;
}
.team-container{
    margin-top: 100px;
}
.trainers{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    background-color: #191919;
    border-radius: 18px;
}
.trainer{
    background-size: cover;
    /* width: 327px; */
    height: 273px;
    border-radius: 18px;
    position: relative;
}
.trainer-img-one{
    background-image: url("../images/trainer1.png");
}
.trainer-img-two{
    background-image: url("../images/trainer2.png");
}
.trainer-img-three{
    background-image: url("../images/trainer3.png");
}
.trainer-img-four{
    background-image: url("../images/trainer4.png");
}
.trainer-img-five{
    background-image: url("../images/trainer5.png");
}
.trainer-img-six{
    background-image: url("../images/trainer6.png");
}
.trainer-info{
    padding-left: 20px;
    position: absolute;
    bottom: 15px;
}
.trainer-info-title{
    margin: 0px;
    font-size: 1.3rem;
    font-weight: bold;

}
.trainer-designation{
    margin-top: 3px;
}
.footer-container{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 90px;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 20px;
}
.hr-line{
    color: rgba(255, 255, 255, 0.1);
}
/* Responsive for small or mobile devices */

@media screen and (max-width: 576px) {
    .anchor-list{
        display: none;
    }
    .nav-icon{
        display: inline;
    }
    .get-body{
        flex-direction: column;
    }
    .small-device{
        display: flex;
        flex-direction: column;
    }
    .habits{
        grid-template-columns: 1fr;
    }
    .run-part{
        text-align: center;
        flex-direction: column;
    }
    .run-description{
        width: 100%;
    }
    .run-img{
        margin-top: 20px;
    }
    .primary-btn{
        width: 60%;
        padding: 12px 45px;
        background-color: rgba(230, 83, 60, 1);
        color: white;
        border-radius: 40px;
        font-weight: 600;
    }
    .trainers{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}